@charset "UTF-8";
/*=====================================================
#mixins
=====================================================*/
/*=====================================================
# colors
=====================================================*/
/*=====================================================
# common - 全体に共通するスタイル
=====================================================*/
@media screen and (max-width: 767px) {
  .is-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

@media (max-width: 767px) {
  .bg {
    background-image: url("img/img-sp.jpg");
  }
}

@media (min-width: 768px) {
  .bg {
    background-image: url("images/img-pc.jpg");
  }
}
